Consider following code to answer further questions:

import pandas as pd

course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]

duration = [2,3,6,4]

df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

Ans.

In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Ans.  loc (Label-based Indexing):

loc is primarily used for label-based indexing, which means you select data by specifying the row and column labels.
It uses the row and column labels to locate and retrieve data.
When you use loc, both the start and stop indices are inclusive, which means the range is closed on both ends.
You can use boolean arrays to filter rows and columns based on label conditions.

iloc (Integer-based Indexing):

iloc is primarily used for integer-based indexing, which means you select data by specifying the row and column positions using integer indices (0-based).
It uses integer positions to locate and retrieve data.
When you use iloc, the start index is inclusive, but the stop index is exclusive, which is similar to Python slicing.
You cannot use label conditions; instead, you provide integer positions.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2]. Did you observe any difference in both the outputs? If so then explain it.

Ans.

In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [4]:
new_df = df.reindex([3,0,1,2])

In [5]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [6]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [7]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Here's the difference:

new_df.loc[2]: This uses label-based indexing, so it returns the row with the label/index 2. In the reindexed DataFrame, the label/index 2 corresponds to the row with the label/index 1 in the original DataFrame. So, it returns the data for "Big Data" and duration 6, which is the row at the label/index 1 in the original DataFrame.

new_df.iloc[2]: This uses integer-based indexing, so it returns the row at the integer position 2. In the reindexed DataFrame, the row at position 2 corresponds to the row at position 0 in the original DataFrame. So, it returns the data for "Machine Learning" and duration 3, which is the row at position 0 in the original DataFrame.

The difference arises because loc and iloc reference rows differently, one based on labels and the other based on integer positions. In the reindexed DataFrame, the labels and positions have changed, which leads to the different outputs.

In [8]:
#Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [9]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.278982  0.180913  0.582401  0.496301  0.616217  0.688804
2  0.202794  0.117182  0.152697  0.135908  0.213530  0.631198
3  0.247713  0.478324  0.488038  0.331553  0.729700  0.800940
4  0.406242  0.548779  0.898656  0.985385  0.424662  0.192634
5  0.248421  0.165457  0.507322  0.086169  0.513178  0.647446
6  0.619497  0.882601  0.589579  0.822737  0.566391  0.173137

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
    
(i) mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [10]:
df1.mean()

column_1    0.333941
column_2    0.395543
column_3    0.536449
column_4    0.476342
column_5    0.510613
column_6    0.522360
dtype: float64

In [11]:
df1['column_2'].std()

0.29801026006281217

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.

In [12]:
df1.loc[2, 'column_2'] = 'ram'

In [13]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.278982  0.180913  0.582401  0.496301  0.616217  0.688804
2  0.202794       ram  0.152697  0.135908  0.213530  0.631198
3  0.247713  0.478324  0.488038  0.331553  0.729700  0.800940
4  0.406242  0.548779  0.898656  0.985385  0.424662  0.192634
5  0.248421  0.165457  0.507322  0.086169  0.513178  0.647446
6  0.619497  0.882601  0.589579  0.822737  0.566391  0.173137

In [14]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

if 'column_2' initially contains numeric data (floats), you'll encounter a data type mismatch error when trying to replace it with a string. To avoid this error, you should initially set the data type of 'column_2' as an object (which can hold mixed data types) when creating the DataFrame. By setting 'column_2' as an object data type, you can store both numeric and string values in the same column, and you won't encounter a data type error when replacing the data with a string.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

Ans. In pandas, window functions, often referred to as "rolling" or "expanding" functions, are used to perform calculations on a rolling or expanding window of data within a DataFrame. These functions are particularly useful for time-series data or any data where the order of observations matters. They allow you to calculate statistics or apply custom functions to subsets of data defined by a rolling or expanding window.


In pandas, window functions, often referred to as "rolling" or "expanding" functions, are used to perform calculations on a rolling or expanding window of data within a DataFrame. These functions are particularly useful for time-series data or any data where the order of observations matters. They allow you to calculate statistics or apply custom functions to subsets of data defined by a rolling or expanding window.

The two primary types of window functions in pandas are:

Rolling Window Functions:

Rolling window functions perform calculations on a fixed-size window of data that "rolls" or slides over the DataFrame along its index.
These functions are useful for calculating moving averages, aggregating data over a fixed time period, or computing other rolling statistics.
Common rolling window functions include:

.rolling().mean(): Calculate the rolling mean.

.rolling().sum(): Calculate the rolling sum.

.rolling().min(): Calculate the rolling minimum.

.rolling().max(): Calculate the rolling maximum.

.rolling().std(): Calculate the rolling standard deviation.

.rolling().var(): Calculate the rolling variance.

Custom functions using .rolling().apply()

Expanding Window Functions:

Expanding window functions perform calculations on an expanding window of data that starts from the beginning of the DataFrame and grows as it moves through the data.
These functions are useful for calculating cumulative sums, exponential moving averages, or other cumulative statistics.
Common expanding window functions include:

.expanding().sum(): Calculate the expanding sum.

.expanding().mean(): Calculate the expanding mean.

.expanding().min(): Calculate the expanding minimum.

.expanding().max(): Calculate the expanding maximum.

.expanding().std(): Calculate the expanding standard deviation.

.expanding().var(): Calculate the expanding variance.

Custom functions using .expanding().apply().

Here's a basic example of using a rolling mean function on a DataFrame:

Q7. Write a code to print only the current month and year at the time of answering this question.

In [ ]:
import datetime
current_time = datetime.datetime.now()
current_month = current_time.strftime("%B %Y")
current_month

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [15]:
Date1 = input("Enter 1st date in the format YYYY-MM-DD")
Date2 = input("Enter 2nd date in the format YYYY-MM-DD")
d1 = pd.to_datetime(Date1)
d2 = pd.to_datetime(Date2)
result = d1-d2
print(result)

Enter 1st date in the format YYYY-MM-DD 2023-09-13
Enter 2nd date in the format YYYY-MM-DD 2023-09-11

2 days 00:00:00

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [22]:
import pandas as pd


file_path = input("Enter the path to the CSV file: ")
try:
    df = pd.read_csv(file_path)
except FileNotFoundError:
    print("File not found. Please check the file path and try again.")
    exit(1)
column_name = input("Enter the column name to convert to categorical: ")

if column_name not in df.columns:
    print(f"Column '{column_name}' not found in the CSV file.")
    exit(1)


category_order = input("Enter the category order (comma-separated, e.g., 'Category1,Category2,Category3'): ")

categories = [cat.strip() for cat in category_order.split(',')]


df[column_name] = pd.Categorical(df[column_name], categories=categories, ordered=True)

df_sorted = df.sort_values(by=[column_name])

print("Sorted DataFrame:")
print(df_sorted)

Enter the path to the CSV file:  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
Enter the column name to convert to categorical:  Sex
Enter the category order (comma-separated, e.g., 'Category1,Category2,Category3'):  Category1

Sorted DataFrame:
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name  Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris  NaN  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  NaN  38.0      1
2                               Heikkinen, Miss. Laina  NaN  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  NaN  35.0      1
4                             Allen, Mr. William Henry  NaN  35.0      0
..                                                 ...  ...   ...    ...
886                              Montvila, Rev. Juozas  NaN  27.0      0
887                       Graham, Miss. Margaret Edith  NaN  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  NaN   NaN      1
889                              Behr, Mr. Karl Howell  NaN  26.0      0
890                                Dooley, Mr. Patrick  NaN  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

file_path = input("Enter the path to the CSV file containing sales data: ")
try:
    df = pd.read_csv(file_path)
except FileNotFoundError:
    print("File not found. Please check the file path and try again.")
    exit(1)

category_column = input("Enter the column name for product category: ")
time_column = input("Enter the column name for time (e.g., date): ")

if category_column not in df.columns or time_column not in df.columns:
    print("One or both of the specified columns not found in the CSV file.")
    exit(1)

sales_data = df.groupby([time_column, category_column]).sum().unstack()

ax = sales_data.plot(kind="bar", stacked=True, figsize=(10, 6))

plt.title("Sales of Product Categories Over Time")
plt.xlabel(time_column)
plt.ylabel("Sales")
plt.legend(title=category_column)

plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

In [ ]:
import pandas as pd
import statistics

file_path = input("Enter the file path of the CSV file containing student data: ")

try:
    df = pd.read_csv(file_path)
except FileNotFoundError:
    print("File not found. Please check the file path and try again.")
    exit(1)

mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_score = statistics.multimode(df['Test Score'])  

result_table = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [mean_score, median_score, ', '.join(map(str, mode_score))]
})

print(result_table)